name: CI

on:
  push:
    branches: 
      - master
      - integration
      - experimental*
      - release_*
      - ci*
      - pci* 
    tags:
      - v*
  pull_request:
  repository_dispatch:
    types:
      - metwork-trigger*

env:


    DOCKER_RUN_OPTIONS: "-v ${{ github.workspace }}:/src -e GITHUB_REF -e GITHUB_RUN_NUMBER -e GITHUB_SHA -e GITHUB_REPOSITORY"

    WORKFLOW_SCRIPTS_DIR: .github/workflows
    DOCKER_WORKFLOW_SCRIPTS_DIR: /src/.github/workflows
    PAYLOAD_BRANCH: ${{ github.event.client_payload.branch}}
    PAYLOAD_OS: ${{ github.event.client_payload.os}}

jobs:
  ci_build:


    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.client_payload.branch || github.ref }}
      - name: set variables
        id: SetVariables
        run: |
          ${WORKFLOW_SCRIPTS_DIR}/set_variables.sh
      - name: debug env
        run: |
          env
      - name: bootstrap
        if: ${{ steps.SetVariables.outputs.branch != 'null' }}
        run: |
          TARGET_DIR=${{ steps.SetVariables.outputs.target_dir }}
          BRANCH=${{ steps.SetVariables.outputs.branch }}
          OS_VERSION=${{ steps.SetVariables.outputs.os }}
          TAG=${{ steps.SetVariables.outputs.tag }}
          DEP_DIR=${{ steps.SetVariables.outputs.dep_dir }}
          BUILDIMAGE=${{ steps.SetVariables.outputs.buildimage }}
          docker pull ${BUILDIMAGE}
          docker run ${DOCKER_RUN_OPTIONS} -e TARGET_DIR=${TARGET_DIR} -e BRANCH=${BRANCH} -e TAG=${TAG} -e DEP_DIR=${DEP_DIR} -e OS_VERSION=${OS_VERSION} --rm ${BUILDIMAGE} /bin/bash -c "${DOCKER_WORKFLOW_SCRIPTS_DIR}/bootstrap_ci.sh"
      - name: build
        if: ${{ steps.SetVariables.outputs.branch != 'null' }}
        id: BuildStep
        run: |
          TARGET_DIR=${{ steps.SetVariables.outputs.target_dir }}
          BRANCH=${{ steps.SetVariables.outputs.branch }}
          OS_VERSION=${{ steps.SetVariables.outputs.os }}
          TAG=${{ steps.SetVariables.outputs.tag }}
          DEP_BRANCH=${{ steps.SetVariables.outputs.dep_branch }}
          BUILDIMAGE=${{ steps.SetVariables.outputs.buildimage }}
          docker pull ${BUILDIMAGE}
          docker run ${DOCKER_RUN_OPTIONS} -e TARGET_DIR=${TARGET_DIR} -e BRANCH=${BRANCH} -e DEP_BRANCH=${DEP_BRANCH} -e TAG=${TAG} -e OS_VERSION=${OS_VERSION} --rm ${BUILDIMAGE} /bin/bash -c "${DOCKER_WORKFLOW_SCRIPTS_DIR}/build.sh"
          cat  ${{ github.workspace }}/github_output >> ${GITHUB_OUTPUT}
